*{
    margin: 0px;
}
.contanier{
    height: 500px;
    width: 100%;
    
    margin-top: 100px;
}
.section-img{

    height: 100%;
    width: 40%;
    
    float: left;
    margin-left: 10%;

}
.section-img img {
    height: 80%;

}

.section-text{
 height: 100%;
    width: 40%;
    
    float: left;
}
.section-text h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: "Rubik",sans-serif;
}
.section-text p {
    font-family: "Roboto",sans-serif;
    color: #777;
}
.section-text button{
    border: none;
    display: inline-block;
    color: #fff;
    letter-spacing: 0;
    font-family: "Rubik",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none!important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box , border-box;
    background-image: linear-gradient(to right,#4458dc 0%,#854fee 100%) , radial-gradient(circle at top left,#4458dc,#854fee);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgb(118 85 225 / 30%);
}